body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#636363;
  min-height: 650px;
  background-blend-mode:lighten;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

 header{
  background-color: #d3d3d3;


  color:#ffffff;
  padding-top:20px;
  min-height:30px;
  max-height: 45px;
  border-bottom:#ffffff 3px solid;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

header{
  padding-top: 20px;
  padding-bottom:20px;
}

header img{
  margin-top: 0px;
  padding-top: 0px;
  max-height: 55px;
}

#h{
  color:#ffffff;
  margin-top: 10px;
  font-size: 20px;
}
#h1{
  color:#ffffff;
  margin-top: 30px;
  margin-left: 10px;
}

#hh{
  color:#ffffff;
}

#hhh{
  margin-top: -8%;
  style:normal;
}
#para{
  color:#ffffff;
  font-size: 25px;
  margin-top: -15%;
}

#text{
  color:#ffffff;
  margin-top: 25px;
}

.button_1{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  float: right;
}

.button_2{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  float: left;
}

#btnSignUp{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;padding-left: 10px;
  margin-top: 15px;

}
#btnSignIn{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  margin-top: 15px;

}

#btnSignIn1{
  padding: 18px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  margin-top: 20px;
  margin-right:250px;
  float: left;
  margin-left: -7%;

}
#btnLogout{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
}
#textEmail{
  float:left;
  margin-top:30px;

}

#textPassword{
  float:left;
  margin-top:30px;
}

#Sbutton{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  margin-top: 10px;
}
.places input[type="email"]{

  padding:4px;
  height:28px;
  width:250px;
}

.places input[type="password"]{

  padding:4px;
  height:28px;
  width:200px;
}

#sendEmail{
  padding:4px;
  height:40px;
  width:250px;
  margin-top: 20px;
  margin-right:300px;
  background-color: #808080;
  font-size: 15px;


}
.btn input[type="radio"]{
  padding:4px;
  height:28px;
  background:#ffffff;
   width:30px;
}
.btn{

  margin-top: 0px;
  color:#ffffff;
  font-size: 18px;
  margin-left: 25px;
}

.places1 input[type="text"]{
  padding:4px;
  height:28px;
  width:250px;
}

.places1 form{
  margin-top:20px;
}
.places form {
  float:left;
  margin-top:17px;
}

.places input[type="text"]{
  padding:4px;
  height:28px;
  width:250px;
}

.rows{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 0px;
}

.rows > div{
  background-color: #808080;
  text-align: center;
  text-overflow: ellipsis;
  margin-top:80%;
  height:200px;
  color:#ffffff;
}

.row1{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
}
.row1 > div{
  background-color: #808080;
  text-align: center;
  margin-top:80%;
  height:200px;
  color:#ffffff;
}

#p{
margin-left: 30px;
margin-right:30px;

}


.box{
background-color: #808080;
width:400px;
padding:50px;
margin: 50px;
height: 400px;
margin-left:25%;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.box1{
background-color: #808080;
width:400px;
padding:50px;
margin: 50px;
height: 450px;
margin-left:25%;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}


#h2{
  font-size: 18px;
}

#h3{
  font-size: 18px;
  color:#ffffff;
}

.forgotpw{
  bottom:10px;
}

#errorHeader{
  color:#ffffff;
  font-size: 18px;
}

.sth{
  margin-bottom: 0px;
  padding:10px;
  float:left;
  margin-left: -10%;
}

a{
  color:#ffffff;
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  padding:10px;
  margin-top:20px;
  color:#ffffff;
  background-color:#d3d3d3;
  border-top: #ffffff 3px solid;
  text-align: center;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
