.homepagebody{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding: 0px;
  margin: 0px;
  background-image: url("img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  min-height: 600px;
  max-height: initial;
}

p {
    font-family: Arial;
}

h1, h2, h3 {
    font-family: Arial;
}

body {
    background-color: white;
    margin: 0px;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.centerpage {
   margin-top: 0px;
   margin-left: auto;

}

 header{
  background-color: #ffffff;
  color:#ffffff;
  padding-top:20px;
  min-height:30px;
  max-height: 45px;
  border-bottom:#ffffff 3px solid;
}

header{
  padding-top: 20px;
  padding-bottom:20px;
}

#h{
  color:#ffffff;
  margin-top: 10px;
}
#h1{
  color:#ffffff;
  margin-top: 30px;
  margin-left: 40px;
}

#para{
  color:#ffffff;
  font-size: 30px;
}

.button {
    background-color: white;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.button_1 {
    background-color: white;
    color: black;
    border: 2px solid slategrey;
}

.button_1:hover {
    background-color: slategrey;
    color: white;
    border: 2px solid slategrey;
}

.buttoncolumn {
    float: left;
    width: 20%;
    height: initial;
    color: black;
    text-align: center;
    margin-top: 33%;
}

.button_2{
  border-radius:4px;
  padding: 13px;
  background-color:#3e55a3;
  color:#ffffff;
  font-size: 13px;
  float: left;
}
#btnSignUp{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;padding-left: 10px;
  margin-top: 15px;

}
#btnSignIn{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
  margin-top: 15px;

}

#btnLogout{
  padding: 13px;
  background-color:#696969;
  color:#ffffff;
  font-size: 13px;
}
#textEmail{
  float:left;
  margin-top:17px;

}

#textPassword{
  float:left;
  margin-top:17px;
}

.places input[type="email"]{

  padding:4px;
  height:28px;
  width:250px;
}

.places input[type="password"]{

  padding:4px;
  height:28px;
  width:200px;
}

.btn input[type="radio"]{
  padding:4px;
  height:28px;
  background:#ffffff;
   width:30px;
}
.btn{
  padding:50px;
  color:#ffffff;
  font-size: 18px;
  margin-left: 0px;
}
.places form {
  float:left;
  margin-top:17px;
}

.places input[type="text"]{
  padding:4px;
  height:28px;
  width:250px;
}

 .column{
  float: left;
  width: 33.33%;
  height: initial;
  color: black;
  text-align: center;
  margin-top: auto;
  background: white;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


footer {
    font-family: Arial;
    position: absolute;
    width: 100%;
    padding: 10px;
    color: black;
    background-color: #fceade;
    text-align: center;
}

.footerbottompage {
    margin-top: 100%;
    margin-bottom: 0%;
}
