 img{
  margin-top: 0px;
  padding-top: 0px;
  max-height: 55px;
}

.bttn{
  float: right;
}
.bttn1{
  float: right;
  margin-top: 1%;
}
#h1{
  color:#808080;
}
#hh{
  margin-top:5%;
  color:#ffffff;
}
.header{
  background-color: #d3d3d3;
  padding:8px;
}

.navbar{
  background-color: #d3d3d3;
}

.footer{
  background-color: #d3d3d3;
}

#editButton{
  z-index: 10000;
}
.view{
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
}
.container1{
    display: flex
}

#h{
  color:#2e8b57;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.navbar-toggler{
  background-color: #fff;
}
.navbar-toggler-icon{
  color:#fff;
}
