body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#696969;
  min-height: 700px;
  background-blend-mode:lighten;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.button_1{
  padding: 18px;
  background-color:#808080;
  color:#ffffff;
  font-size: 13px;
  margin-right:250px;
  margin-top: 10%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#btnSignIn1{
  padding: 18px;
  background-color:#808080;
  color:#ffffff;
  font-size: 13px;
  margin-top: 10%;
  margin-right: 250px;
  margin-left: 80px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#h{
  color:#ffffff;
  margin-top: 30px;
  margin-left: 50px;
  font-style: normal;
  font-size: 18px;
}
img{
  margin-top: 0px;
  padding-top: 0px;
  max-height: 55px;
  margin-left:90px;

}

.places{
  margin-left: 50px;
}

.box{
background-color: #808080;
width:300px;
padding:50px;
margin:250px;
margin-left:30%;
height: 300px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
