body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#636363;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
header{
  background-color: #d69764;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 3px solid;
}

header{
  padding-top: 20px;
  padding-bottom:20px;
}

.button_1{
  padding: 13px;
  background-color:#35424a;
  color:#ffffff;
  font-size: 13px;

}

#places{
  padding:17px;
  color:#ffffff;
  background:#35424a;
}

#places form {
  float:left;
  margin-top:17px;
}

#places input[type="text"]{
  padding:4px;
  height:28px;
  width:250px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#d69764;
  text-align: center;
}
